* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.firstsec {
    height: 640px;
    margin-top: 70px;
    position: relative;
}

.homenav {
    display: flex;
    gap: 74px;
    width: 100%;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.navig {
    text-decoration: none;
}

.navig:visited {
    color: black;
}

#homelink {
    border-bottom: 2px solid #000;
    padding-bottom: 2px;
}

.nameh {
    font-family: 'Great Vibes', cursive;
    font-size: 96px;
    font-weight: 400;
}

#n1 {
    position: absolute;
    left: 23%;
    top: 40%
}

#and {
    position: absolute;
    left: 48%;
    top: 52%;
}

#n2 {
    position: absolute;
    left: 57%;
    top: 62%;
}

.weddingdate {
    position: absolute;
    left: 40%;
    top: 83%;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 400;
}

.secondsec {
    display: flex;
    justify-content: center;
    padding: 72px 139px 160px 139px;
}

.storydiv {
    width: 100%;
}

.storyhead {
    font-family: 'Great Vibes', cursive;
    font-size: 64px;
    font-weight: 400;
    text-align: center;
}

.story {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    padding-top: 32px;
}