* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.firstsec {
    height: 640px;
    padding: 70px 0 119px ;
    position: relative;
}

.homenav {
    display: flex;
    gap: 74px;
    width: 100%;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.navig {
    text-decoration: none;
}

.navig:visited {
    color: black;
}

#homelink {
    border-bottom: 2px solid #000;
    padding-bottom: 2px;
}

.nameh {
    font-family: 'Great Vibes', cursive;
    font-size: 96px;
    font-weight: 400;
}

#n1 {
    position: absolute;
    left: 23%;
    top: 33%
}

#and {
    position: absolute;
    left: 48%;
    top: 45%;
}

#n2 {
    position: absolute;
    left: 57%;
    top: 55%;
}

.weddingdate {
    position: absolute;
    left: 40%;
    top: 73%;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 400;
}

.secondsec {
    display: flex;
    justify-content: center;
    padding: 72px 139px 160px 139px;
}

.storydiv {
    width: 100%;
}

.storyhead {
    font-family: 'Great Vibes', cursive;
    font-size: 64px;
    font-weight: 400;
    text-align: center;
}

.story {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    padding-top: 32px;
    line-height: 36px;
}

.thirdsec {
    /*background-color: #F7CAC9;*/
    background-color: rgba(247, 202, 201, 0.1);
    padding: 72px 64px 188px 64px;
    position: relative;
}

.beginning {
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-size: 64px;
    font-weight: 400;
    height: 3871px;
}

#top1 {
    position: absolute;
    left: 16.12%;
    right: 81.83%;
    top: 4.03%;
    bottom: 94.69%;
}

#right1 {
    position: absolute;
    left: 18.87%;
    right: 78.82%;
    top: 4.59%;
    bottom: 94.11%;
}

#bottom1 {
    position: absolute;
    left: 17.63%;
    right: 80.7%;
    top: 5.67%;
    bottom: 93.26%;
}

#left1 {
    position: absolute;
    left: 13.47%;
    right: 84.55%;
    top: 4.85%;
    bottom: 93.78%;
}

#top2 {
    position: absolute;
    left: 81.46%;
    right: 16.48%;
    top: 4.03%;
    bottom: 94.69%;
}

#right2 {
    position: absolute;
    left: 84.21%;
    right: 13.47%;
    top: 4.59%;
    bottom: 94.11%;
}

#bottom2 {
    position: absolute;
    left: 82.98%;
    right: 15.35%;
    top: 5.67%;
    bottom: 93.26%;
}

#left2 {
    position: absolute;
    left: 78.82%;
    right: 19.2%;
    top: 4.85%;
    bottom: 93.78%;
}

#kiss1 {
    position: absolute;
    left: 37.42%;
    right: 36%;
    top: 5.35%;
    bottom: 79.92%;
    z-index: 1;
}

#kiss2 {
    position: absolute;
    left: 36.04%;
    right: 37.38%;
    top: 6.02%;
    bottom: 79.24%;
    z-index: 0;
}